
ws/ceppi-bussines/.classpath

ws/ceppi-bussines/.settings/org.eclipse.jdt.core.prefs

ws/ceppi-bussines/.settings/org.eclipse.wst.common.project.facet.core.xml

ws/ceppi-core/.classpath

ws/ceppi-core/.settings/org.eclipse.wst.common.project.facet.core.xml

ws/ceppi-core/target/classes/ceppi-ds.xml

ws/ceppi-web/.classpath

ws/ceppi-web/.settings/org.eclipse.wst.common.project.facet.core.xml

ws/ceppi-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

ws/ceppi-web/target/m2e-wtp/web-resources/META-INF/maven/cl.ml.ceppi/ceppi-web/pom.properties

ws/ceppi-web/target/m2e-wtp/web-resources/META-INF/maven/cl.ml.ceppi/ceppi-web/pom.properties
